<!DOCTYPE html>
<html>
<head>
    <title>Image Viewer</title>
    <style>
        .image-container {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }
        .caption {
            margin-top: 5px;
            max-width: 200px;
        }
    </style>
</head>
<body>
    <h1>{{ idiom_name }}</h1>
    
    {% for i in range(images|length) %}
    <div class="image-container">
        <img src="{{ url_for('static', filename=idiom_name + '/' + images[i]) }}" width="200">
        <div class="caption">{{ captions[i] }}</div>
    </div>
    {% endfor %}
    
    <div>
        <a href="{{ url_for('show_idiom', idiom_index=prev_index) }}">Previous</a>
        <a href="{{ url_for('show_idiom', idiom_index=next_index) }}">Next</a>
    </div>
</body>
</html>
